@page "/pre-game"
@inject NavigationManager NavManager

<div class="container">
	<h1>Pre-game</h1>
	<div class="select-menu">
		<!--<label class="select-label">Selected Song: @song</label>-->
		<select class="form-control" @bind="song">
			<option selected disabled value="-1">--Select a song--</option>
			<option value ="/audio/bensound-scifi.mp3">Bensound SciFi</option>
		</select>
	</div>
	@if (song != "") {
		<button @onclick="handleContinueClick">CONTINUE</button>
	}
</div>

@code {
	string song = "";

	void handleContinueClick() {
		if (song == "")
			return;
		
		NavManager.NavigateTo($"/game?audio={song}");
	}
}
