
.container{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
	width: 100vw;
    background-color: var(--color-background);
    font-size: 2rem;
    grid-gap: 20px;
    padding:30px;
    
}

.instructions {
    padding: 0;
    /*height: 30vh;
    width: 80vw;* -- caused major problems*/
    border-radius: 8px;
    font-weight: normal;
    font-size: 1.4rem;
    color: #D1D0D3;
}

li {
    list-style-position: outside;
    list-style-type: counter; /*"\1F44D"; thumbs up sign old: counter (1, 2, 3, 4) */
    margin: 0.33em 0.5em 0.5em 1.5em;
     /*thumbs up sign*/
}



li .blue{
    color: var(--color-cyan);
}

li .red{
    color: rgb(218, 98, 98);
}

li .green {
    color: rgb(112, 207, 112);
}

li .purple {
    color: rgb(193, 146, 255);;
}

.play {
    color:var(--color-foreground);
}

.title {
    padding: 0;
    color: var(--color-foreground);
}

.select-menu {
    /*display: grid;*/
    height: 5vh;
	width: 25vw;

}

.form-control {
    padding:10px;
    width: 30vw;
    text-align: center;
    font-size: 1.0rem;
	font-family: 'Ubuntu', sans-serif;
    background-color: var(--color-cyan);
    border: var(--color-cyan);
    color: var(--color-background);
    border-radius: 4px;
    text-align: center;
    
}


.label{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
    font-style:italic;
    color: var(--color-cyan);
}

.outer input {
    margin: 0;
    padding: 0;
    text-align: left;
}

.txt {
    padding:10px;
    background-color:var(--color-background);
    width: 30vw;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid var(--color-cyan);
    text-align: center;
    font-size: 1.0rem;
    color: white;
}



.align-right {
    text-align: right;
}

button {
    padding:10px;
    font-size: 1.0rem;
    font-weight: bold;
    border-radius: 4px;
    color: var(--color-cyan);
    width: 17vw;
    border: 1px solid var(--color-cyan);
    background-color: var(--color-background);
    transition-duration: 0.4s;
    text-align: center;

}

button:hover {
    background-color: var(--color-cyan);
    color: var(--color-background);
}

