@if (Model != null) {
	<div class="@ballClass" style="@ballCss" ></div>
}

@code {
	[Parameter] public bool IsRunning { get; set; }
	[Parameter] public BallModel? Model { get; set; }

	string ballCss => $"left: {Model?.position.x/15}rem; top: {Model?.position.y/15}rem; width: {Model?.radius * 2 / 15}rem; height: {Model?.radius * 2 / 15}rem; margin-left: -{Model?.radius / 15}rem; margin-top: -{Model?.radius / 15}rem;";
	string ballClass => IsRunning ? "ball spin" : "ball";
}