@if (Model != null) {
	<div class="ball" style="@ballCss" ></div>
}

@code {
	[Parameter] public BallModel? Model { get; set; }
	string ballCss => $"left: {Model?.position.x}px; top: {Model?.position.y}px";
}