@if (Model != null) {
	<div class="ball" style="@ballCss" ></div>
}

@code {
	[Parameter] public BallModel? Model { get; set; }
	string ballCss => $"left: {Model?.position[0]}px; top: {Model?.position[1]}px";
}