.game-container {
	background-color: var(--color-background);

	position: relative;
	margin: 0 auto;
	
	border-top: var(--color-wall) 5px solid;
	border-bottom: var(--color-wall) 5px solid;

	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;

	overflow: hidden;
}

.middle {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 3px solid var(--color-stroke);
	border-radius: 15%;
	border-style: dashed;
	margin: 50px;
}

.square2 {
	border-left: 3px solid var(--color-stroke);
}

.rect1 {
	display: grid;
	justify-content: end;
	align-content: center;
}

.rect2 {
	justify-content: start;
	align-content: center;
}
