@inject IJSRuntime JsRuntime

<Menu Game="Model" />
<div class="wall-container">
	<div
		class="game-container"
		style="@gameContainerCss"
		tabindex="0"
		@onkeydown="HandleKeyPress"
		@ref="gameRef"
		@onfocusout="FocusOnGameContainer"
	>
		@if (Model == null) {
			<h1>Loading...</h1>
		}
		else {
			@if (!Model.IsRunning) {
				<button @onclick="HandleStartClick" class="start">Start</button>
			}

			<div class="rect border"></div>	
				<div class="middle border">
					<div class="square">
					</div>
					<div class="square2">
					</div>
				</div>
				<div class="line"></div>	
				<div class="rect border"></div>

				<Ball Model="Model.Ball" IsRunning="Model.IsRunning" />
				<Paddle Model="Model.UserPaddle" />
				<Paddle Model="Model.ComputerPaddle" />

				<Score Model="Model.UserScore" side="right" />
				<Score Model="Model.ComputerScore" side="left" />

				@foreach (var obstacle in Model.ObstacleList) {
					<Obstacle Model="obstacle" @key="obstacle.Id" />
				}
		}
	</div>
</div>

@code {
	string gameContainerCss => $"width: {Model?.containerDimensions.x/15}rem; height: {Model?.containerDimensions.y/15}rem";
	ElementReference gameRef;

	protected override async Task OnInitializedAsync()
	{
		Dimensions windowDimensions = await JsRuntime.InvokeAsync<Dimensions>("getWindowDimensions");
		Dimensions containerDimensions = new Dimensions(windowDimensions.x * 0.9, windowDimensions.y * 0.8); // 90% x 80%

		Model = new GameManager(containerDimensions, 1 * 60);
		Model.MainLoopCompleted += (o,e) => StateHasChanged();
	}
	private async void FocusOnGameContainer() {
		await Task.Delay(10); // 10 ms
		await JsRuntime.InvokeAsync<string>("focusOnElement", gameRef);
	}
	void HandleStartClick() {
		if (Model?.IsRunning == false) {
			Model.StartGame();
			FocusOnGameContainer();
		}
	}
	void HandleKeyPress(KeyboardEventArgs e)
	{
		if (e.Key == "ArrowUp")
			Model?.MoveUserPaddleUp();
		if (e.Key == "ArrowDown")
			Model?.MoveUserPaddleDown();
	}

	GameManager? Model { get; set; }
}