@if (Model != null) {
	<div class="obstacle" style="@paddleCss" >
		@if (Model.life >= 2) {
			<svg
				viewBox="0 0 100 150"
				version="1.1"
				id="svg82"
				sodipodi:docname="obstacle.svg"
				inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
				xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
				xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:svg="http://www.w3.org/2000/svg">
				<defs
					id="defs86">
					<clipPath
						clipPathUnits="userSpaceOnUse"
						id="clipPath2122">
						<rect
							style="fill:#00ff00;fill-opacity:0.5;stroke-width:14.365"
							id="rect2124"
							width="100"
							height="150"
							x="0"
							y="0"
							rx="5.583921"
							ry="5.583921" />
					</clipPath>
				</defs>
				<sodipodi:namedview
					id="namedview84"
					pagecolor="#505050"
					bordercolor="#ffffff"
					borderopacity="1"
					inkscape:pageshadow="0"
					inkscape:pageopacity="0"
					inkscape:pagecheckerboard="1"
					showgrid="false"
					width="100px"
					borderlayer="true"
					inkscape:showpageshadow="false"
					inkscape:zoom="4.2247509"
					inkscape:cx="54.55943"
					inkscape:cy="86.277276"
					inkscape:window-width="1920"
					inkscape:window-height="1016"
					inkscape:window-x="0"
					inkscape:window-y="27"
					inkscape:window-maximized="1"
					inkscape:current-layer="svg82" />
				<g
					id="g2120"
					clip-path="url(#clipPath2122)">
					<path
						d="M 2.0384e-6,555.53827 V 0 H 99.999998 v 555.53827 z"
						fill="#cccccc"
						id="path2"
						style="fill:#161a38;fill-opacity:1;stroke-width:0.64813" />
					<g
						transform="matrix(0,-0.65114341,0.65114341,0,-166.18482,635.37984)"
						fill="#1a1a1a"
						id="g78"
						style="fill:#78d1e1;fill-opacity:1">
						<path
							d="m 142.86,295.22 h 35.714 v 34.286 H 142.86 Z"
							id="path4"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 142.86,335.22 h 94.286 v 34.286 H 142.86 Z"
							id="path6"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 242.86,334.51 h 94.286 v 34.286 H 242.86 Z"
							id="path8"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 142.86,373.79 h 60 v 34.286 h -60 z"
							id="path10"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 235,255.93 h 94.286 v 34.286 H 235 Z"
							id="path12"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 282.86,295.22 h 94.286 v 34.286 H 282.86 Z"
							id="path14"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 142.86,255.93 h 88.571 v 34.286 H 142.86 Z"
							id="path16"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 182.14,295.22 h 94.286 v 34.286 H 182.14 Z"
							id="path18"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 334.86,255.22 h 94.286 v 34.286 H 334.86 Z"
							id="path20"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 342.86,335.22 h 94.286 v 34.286 H 342.86 Z"
							id="path22"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 382.86,295.22 h 94.286 v 34.286 H 382.86 Z"
							id="path24"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 206.86,374.51 h 94.286 v 34.286 H 206.86 Z"
							id="path26"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 306.86,374.51 h 94.286 v 34.286 H 306.86 Z"
							id="path28"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 406.86,374.51 h 94.286 v 34.286 H 406.86 Z"
							id="path30"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 442.86,335.22 h 94.286 v 34.286 H 442.86 Z"
							id="path32"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 482.86,295.22 h 94.286 v 34.286 H 482.86 Z"
							id="path34"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 434.86,255.22 h 94.286 v 34.286 H 434.86 Z"
							id="path36"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 534.86,255.22 h 94.286 v 34.286 H 534.86 Z"
							id="path38"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 582.86,295.22 h 94.286 v 34.286 H 582.86 Z"
							id="path40"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 542.86,335.22 h 94.286 v 34.286 H 542.86 Z"
							id="path42"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 506.86,374.51 h 94.286 v 34.286 H 506.86 Z"
							id="path44"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 606.86,374.51 h 94.286 v 34.286 H 606.86 Z"
							id="path46"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 642.86,335.22 h 94.286 v 34.286 H 642.86 Z"
							id="path48"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 742.86,335.22 h 94.286 v 34.286 H 742.86 Z"
							id="path50"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 682.86,295.22 h 94.286 v 34.286 H 682.86 Z"
							id="path52"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 634.86,255.22 h 94.286 v 34.286 H 634.86 Z"
							id="path54"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 706.86,374.51 h 94.286 v 34.286 H 706.86 Z"
							id="path56"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 734.86,255.22 h 94.286 v 34.286 H 734.86 Z"
							id="path58"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 842.86,335.22 h 94.286 v 34.286 H 842.86 Z"
							id="path60"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 806.86,374.51 h 94.286 v 34.286 H 806.86 Z"
							id="path62"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 782.86,295.22 h 94.286 v 34.286 H 782.86 Z"
							id="path64"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 882.86,295.22 h 94.286 v 34.286 H 882.86 Z"
							id="path66"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 834.86,255.22 h 94.286 v 34.286 H 834.86 Z"
							id="path68"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 906.86,374.51 h 94.286 v 34.286 H 906.86 Z"
							id="path70"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 942.86,335.22 h 57.143 v 34.286 H 942.86 Z"
							id="path72"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 982.86,295.22 h 15.714 v 34.286 H 982.86 Z"
							id="path74"
							style="fill:#78d1e1;fill-opacity:1" />
						<path
							d="m 934.86,255.22 h 62.857 v 34.286 H 934.86 Z"
							id="path76"
							style="fill:#78d1e1;fill-opacity:1" />
					</g>
				</g>
			</svg>
		}
		else {
			<svg
				viewBox="0 0 100 150"
				version="1.1"
				id="svg82"
				sodipodi:docname="obstacle-broken.svg"
				inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
				xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
				xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:svg="http://www.w3.org/2000/svg">
				<defs
					id="defs86">
					<clipPath
						clipPathUnits="userSpaceOnUse"
						id="clipPath2122">
						<rect
							style="fill:#00ff00;fill-opacity:0.5;stroke-width:14.365"
							id="rect2124"
							width="100"
							height="150"
							x="0"
							y="0"
							rx="5.583921"
							ry="5.583921" />
					</clipPath>
				</defs>
				<sodipodi:namedview
					id="namedview84"
					pagecolor="#505050"
					bordercolor="#ffffff"
					borderopacity="1"
					inkscape:pageshadow="0"
					inkscape:pageopacity="0"
					inkscape:pagecheckerboard="1"
					showgrid="false"
					width="100px"
					borderlayer="true"
					inkscape:showpageshadow="false"
					inkscape:zoom="2.98735"
					inkscape:cx="98.24761"
					inkscape:cy="63.768892"
					inkscape:window-width="1920"
					inkscape:window-height="1016"
					inkscape:window-x="0"
					inkscape:window-y="27"
					inkscape:window-maximized="1"
					inkscape:current-layer="svg82" />
				<g
					id="g24217"
					style="opacity:0.75">
					<g
						id="g2120"
						clip-path="url(#clipPath2122)">
						<path
							d="M 2.0384e-6,555.53827 V 0 H 99.999998 v 555.53827 z"
							fill="#cccccc"
							id="path2"
							style="fill:#161a38;fill-opacity:1;stroke-width:0.64813" />
						<g
							transform="matrix(0,-0.65114341,0.65114341,0,-166.18482,635.37984)"
							fill="#1a1a1a"
							id="g78"
							style="fill:#78d1e1;fill-opacity:1">
							<path
								d="m 142.86,295.22 h 35.714 v 34.286 H 142.86 Z"
								id="path4"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 142.86,335.22 h 94.286 v 34.286 H 142.86 Z"
								id="path6"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 242.86,334.51 h 94.286 v 34.286 H 242.86 Z"
								id="path8"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 142.86,373.79 h 60 v 34.286 h -60 z"
								id="path10"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 235,255.93 h 94.286 v 34.286 H 235 Z"
								id="path12"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 282.86,295.22 h 94.286 v 34.286 H 282.86 Z"
								id="path14"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 142.86,255.93 h 88.571 v 34.286 H 142.86 Z"
								id="path16"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 182.14,295.22 h 94.286 v 34.286 H 182.14 Z"
								id="path18"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 334.86,255.22 h 94.286 v 34.286 H 334.86 Z"
								id="path20"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 342.86,335.22 h 94.286 v 34.286 H 342.86 Z"
								id="path22"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 382.86,295.22 h 94.286 v 34.286 H 382.86 Z"
								id="path24"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 206.86,374.51 h 94.286 v 34.286 H 206.86 Z"
								id="path26"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 306.86,374.51 h 94.286 v 34.286 H 306.86 Z"
								id="path28"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 406.86,374.51 h 94.286 v 34.286 H 406.86 Z"
								id="path30"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 442.86,335.22 h 94.286 v 34.286 H 442.86 Z"
								id="path32"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 482.86,295.22 h 94.286 v 34.286 H 482.86 Z"
								id="path34"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 434.86,255.22 h 94.286 v 34.286 H 434.86 Z"
								id="path36"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 534.86,255.22 h 94.286 v 34.286 H 534.86 Z"
								id="path38"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 582.86,295.22 h 94.286 v 34.286 H 582.86 Z"
								id="path40"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 542.86,335.22 h 94.286 v 34.286 H 542.86 Z"
								id="path42"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 506.86,374.51 h 94.286 v 34.286 H 506.86 Z"
								id="path44"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 606.86,374.51 h 94.286 v 34.286 H 606.86 Z"
								id="path46"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 642.86,335.22 h 94.286 v 34.286 H 642.86 Z"
								id="path48"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 742.86,335.22 h 94.286 v 34.286 H 742.86 Z"
								id="path50"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 682.86,295.22 h 94.286 v 34.286 H 682.86 Z"
								id="path52"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 634.86,255.22 h 94.286 v 34.286 H 634.86 Z"
								id="path54"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 706.86,374.51 h 94.286 v 34.286 H 706.86 Z"
								id="path56"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 734.86,255.22 h 94.286 v 34.286 H 734.86 Z"
								id="path58"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 842.86,335.22 h 94.286 v 34.286 H 842.86 Z"
								id="path60"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 806.86,374.51 h 94.286 v 34.286 H 806.86 Z"
								id="path62"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 782.86,295.22 h 94.286 v 34.286 H 782.86 Z"
								id="path64"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 882.86,295.22 h 94.286 v 34.286 H 882.86 Z"
								id="path66"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 834.86,255.22 h 94.286 v 34.286 H 834.86 Z"
								id="path68"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 906.86,374.51 h 94.286 v 34.286 H 906.86 Z"
								id="path70"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 942.86,335.22 h 57.143 v 34.286 H 942.86 Z"
								id="path72"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 982.86,295.22 h 15.714 v 34.286 H 982.86 Z"
								id="path74"
								style="fill:#78d1e1;fill-opacity:1" />
							<path
								d="m 934.86,255.22 h 62.857 v 34.286 H 934.86 Z"
								id="path76"
								style="fill:#78d1e1;fill-opacity:1" />
						</g>
					</g>
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5305"
						d="m 6.8997563,70.04544 c 0.288977,0.09665 0.5760747,0.199115 0.866931,0.289955 0.6782915,0.211842 1.3717917,0.376966 2.0402619,0.618014 3.2720788,1.179903 6.4206748,2.767062 9.3728268,4.600106 1.055146,0.655158 2.059866,1.38824 3.0898,2.082361 2.355703,1.711255 4.59069,3.591897 6.582173,5.719695 0.443978,0.474367 0.850585,0.982379 1.275877,1.473568 0,0 10.130893,-6.368343 10.130893,-6.368343 v 0 c -3.39626,-1.893874 -6.756692,-3.852259 -10.068435,-5.890822 -2.586752,-1.742698 -3.578232,-2.304725 -5.946743,-4.314917 -1.291863,-1.096424 -2.868608,-2.575638 -3.865708,-4.007129 -0.489742,-0.7031 -0.649022,-1.237064 -0.904078,-1.96256 0,0 -12.5737987,7.760072 -12.5737987,7.760072 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5307"
						d="m 33.857608,146.20015 c 3.16171,-0.86412 6.373048,-1.51646 9.582943,-2.17008 0,0 10.371986,-7.8591 10.371986,-7.8591 v 0 c -2.715525,0.55406 -5.45035,1.12888 -8.230312,1.21682 0,0 -11.724617,8.81236 -11.724617,8.81236 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5309"
						d="m 88.491134,123.29099 c -0.432722,-0.0904 -0.874748,-0.14407 -1.298167,-0.27107 -3.328549,-0.99835 -6.635709,-2.67667 -9.716098,-4.23329 -5.414035,-2.73589 -4.663879,-2.39996 -9.990123,-5.45257 -1.547254,-0.95113 -3.094508,-1.90225 -4.641762,-2.85338 0,0 -9.157577,5.93132 -9.157577,5.93132 v 0 c 1.599052,0.91631 3.198104,1.83262 4.797156,2.74894 1.607772,1.00159 3.235921,1.97119 4.823314,3.00477 4.475882,2.91434 8.778321,6.10323 12.953509,9.43069 0,0 12.229748,-8.30541 12.229748,-8.30541 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5311"
						d="m 51.754924,23.887178 c 0.141244,-0.105679 0.576847,-0.404634 0.423731,-0.317036 -3.791883,2.169341 -7.565049,4.371248 -11.34335,6.564162 -0.507607,0.294613 1.016914,-0.586451 1.53121,-0.869227 0.656538,-0.360986 1.315231,-0.718328 1.981037,-1.06192 0.321326,-0.165822 3.613254,-1.792089 4.013279,-1.989906 0,0 10.497319,-8.403836 10.497319,-8.403836 v 0 c -2.614973,1.347912 -1.291646,0.698038 -3.947788,1.938853 -0.603823,0.282076 -2.316351,1.06123 -2.99218,1.445545 -4.461507,2.537068 -8.899643,5.115016 -13.349288,7.67283 -0.235201,0.135202 -0.470167,0.270811 -0.705251,0.406216 0,0 13.891281,-5.385681 13.891281,-5.385681 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5313"
						d="m 40.04092,104.80084 c -3.762722,1.85126 -7.654331,3.42655 -11.482999,5.13399 -3.311677,1.47688 -4.575339,2.08373 -7.810277,3.59488 -3.996976,1.9165 -2.110971,0.99843 -5.661324,2.74741 0,0 -9.9770642,8.00599 -9.9770642,8.00599 v 0 c 4.0176111,-2.18049 1.9099566,-1.06391 6.3291042,-3.33811 3.755901,-1.81014 7.384853,-3.51918 11.280722,-5.01954 1.013266,-0.39022 3.497119,-1.29348 4.728779,-1.66824 0.301252,-0.0917 0.611974,-0.14869 0.917961,-0.22303 0,0 11.675098,-9.23335 11.675098,-9.23335 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5319"
						d="m 17.578452,95.958164 c 0.08667,-2.275643 0.667817,-4.497277 1.157164,-6.710908 0,0 -12.5239822,6.065373 -12.5239822,6.065373 v 0 c -0.4548635,2.412874 -1.0007032,4.817791 -2.0285097,7.062461 0,0 13.3953279,-6.416926 13.3953279,-6.416926 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5321"
						d="m 4.4489601,23.342746 c 0.2637425,0.07018 0.5320477,0.125037 0.7912273,0.210543 2.2159289,0.731062 4.304991,1.788825 6.3619586,2.878713 2.522735,1.336677 2.999713,1.658803 5.444146,3.108189 2.76807,1.707156 5.449697,3.560335 7.898794,5.702905 0,0 11.954373,-7.600934 11.954373,-7.600934 v 0 c -3.006018,-1.766236 -6.132065,-3.306766 -9.165413,-5.024608 -3.788803,-2.249523 -7.610947,-4.527748 -10.87551,-7.515619 0,0 -12.4095759,8.240811 -12.4095759,8.240811 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5323"
						d="m 48.973477,58.8698 c -0.131628,0.158605 -0.251127,0.328114 -0.394883,0.475816 -2.987332,3.069316 2.010704,-2.293361 -2.2733,2.198948 -0.636586,0.667539 -1.245603,1.360881 -1.861233,2.047795 -2.071213,2.311039 -2.921557,3.308324 -5.012952,5.713122 -4.34554,5.066302 -8.750345,10.092366 -12.813518,15.391231 0,0 12.102115,-5.303389 12.102115,-5.303389 v 0 c 0.69421,-1.31757 0.872916,-1.71188 1.731487,-3.063308 2.52534,-3.974998 5.532964,-7.619315 8.694352,-11.100354 1.011686,-1.060163 1.99747,-2.145663 3.035059,-3.180488 2.926621,-2.918823 6.074832,-5.693797 9.557312,-7.939468 0.327573,-0.211235 0.675377,-0.389309 1.013065,-0.583963 0,0 -13.777504,5.344058 -13.777504,5.344058 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5325"
						d="m 38.824533,127.89964 c 2.425789,-5.0954 5.782491,-9.69361 9.119129,-14.21998 3.779641,-4.98931 7.564059,-10.0294 12.071618,-14.394164 0,0 -13.125342,5.481514 -13.125342,5.481514 v 0 c -3.778628,4.44044 -7.025309,9.29943 -10.565249,13.92599 -3.768391,5.03461 -7.431625,10.14731 -11.193525,15.18542 0,0 13.693369,-5.97878 13.693369,-5.97878 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5327"
						d="m 92.121578,57.207801 c -7.195465,1.603595 -14.409891,3.119288 -21.619293,4.658502 -7.070847,1.520465 -14.154958,2.960099 -21.285746,4.168957 0,0 -11.041315,8.37068 -11.041315,8.37068 v 0 c 7.409709,-1.773358 14.862287,-3.368673 22.316164,-4.9439 6.591333,-1.368771 13.202834,-2.708944 19.89593,-3.479452 0,0 11.73426,-8.774787 11.73426,-8.774787 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5329"
						d="m 35.54477,39.724114 c -7.673438,3.250369 -15.468916,6.204252 -23.281705,9.100234 0,0 -10.0879413,7.910074 -10.0879413,7.910074 v 0 c 7.1668567,-2.841133 14.3518513,-5.672832 21.7270183,-7.93468 0,0 11.642628,-9.075628 11.642628,-9.075628 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5331"
						d="m 37.908412,12.073436 c 4.78714,-0.493953 9.570688,0.341415 14.273047,1.158547 3.948108,0.824809 7.874513,1.845894 11.623305,3.353454 1.595905,0.641786 2.723646,1.233945 4.250094,1.98914 1.946178,1.072029 3.847045,2.287556 5.396226,3.898585 0.493301,0.512995 0.785954,0.922452 1.209876,1.475079 0.955116,1.174561 1.004071,1.90581 1.151423,3.36582 0.305963,3.408837 0.241863,6.834733 0.271951,10.252999 -0.05836,3.474709 -0.07398,6.950667 -0.134487,10.425289 -0.0501,2.394528 -0.08981,4.789216 -0.13638,7.183795 0.0078,1.399856 -0.07147,2.797607 -0.127988,4.195666 -0.02066,1.211134 0.07147,2.419518 0.109472,3.629381 0.07804,2.348046 0.0766,4.698324 0.09835,7.047528 0.02988,2.451446 -0.01479,4.902993 -0.06489,7.353862 -0.05044,1.336434 -0.08896,2.67322 -0.143732,4.009496 -0.0043,0.131719 -0.0085,0.263438 -0.01279,0.395157 0,0 13.282521,-6.767782 13.282521,-6.767782 v 0 c -0.0043,-0.127376 -0.0085,-0.254752 -0.01279,-0.382127 -0.05507,-1.287435 -0.09316,-2.575422 -0.143731,-3.863027 -0.05071,-2.428816 -0.09487,-4.858324 -0.06489,-7.287735 0.02186,-2.382619 0.02101,-4.766245 0.09835,-7.147753 0.03795,-1.247041 0.128601,-2.492747 0.109393,-3.740973 -0.05724,-1.354461 -0.137616,-2.708588 -0.128354,-4.064982 -0.04662,-2.348391 -0.08601,-4.696895 -0.132771,-7.0453 -0.05502,-3.43427 -0.05863,-6.870198 -0.09654,-10.304671 0.04973,-3.533336 0.06578,-7.066939 0.194594,-10.598721 -0.06131,-1.942582 -0.19942,-2.79376 -1.59057,-4.203367 C 85.019334,14.122257 82.452285,12.310107 79.629447,10.918849 77.741185,10.074113 77.033902,9.7217982 75.046275,8.9888313 71.177891,7.5623067 67.197406,6.4551407 63.178646,5.5450324 58.793692,4.6863446 54.3976,3.8136268 49.953777,3.321966 c 0,0 -12.045365,8.75147 -12.045365,8.75147 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5333"
						d="m 52.615869,100.91748 c -0.02594,0.76248 6.41e-4,1.52856 -0.07783,2.28744 -0.165815,1.60366 -0.87683,5.41646 -1.154338,6.91832 -0.586619,3.17474 -1.223538,6.33865 -1.795435,9.5161 -0.144606,0.78662 -0.289212,1.57324 -0.433818,2.35985 0,0 12.432789,-6.11109 12.432789,-6.11109 v 0 c 0.07839,-0.7524 0.15679,-1.50479 0.235185,-2.25719 0.74601,-6.48152 1.709155,-13.01679 4.050027,-19.141622 0,0 -13.256585,6.428192 -13.256585,6.428192 z" />
					<path
						style="fill:#78d1e1;fill-opacity:1;stroke-width:10"
						id="path5335"
						d="M 64.871989,80.725296 C 63.803365,75.691529 63.478438,70.53064 63.295798,65.3988 c -0.01127,-0.671387 -0.02255,-1.342774 -0.03382,-2.01416 0,0 -12.473995,6.471082 -12.473995,6.471082 v 0 c 0.0844,0.635361 0.168799,1.270723 0.253199,1.906084 0.547608,4.565457 1.127676,9.215772 0.88573,13.822395 -0.03227,0.614336 -0.128827,1.223602 -0.19324,1.835403 0,0 13.138318,-6.694308 13.138317,-6.694308 z" />
					<path
						style="fill:#161a38;fill-opacity:1;stroke-width:10"
						id="path5337"
						d="m 53.772482,86.655189 c 3.281953,7.971468 4.912005,16.486061 6.415748,24.935871 0.206296,1.35419 0.412593,2.70837 0.61889,4.06256 0,0 11.395324,-6.09781 11.395324,-6.09781 v 0 c -0.332451,-1.28935 -0.664901,-2.57871 -0.997352,-3.86806 -0.880663,-3.63289 -1.547074,-6.215198 -2.270284,-9.928408 -1.036301,-5.320726 -1.834393,-10.709918 -2.274418,-16.112814 0,0 -12.887908,7.008661 -12.887908,7.008661 z" />
					<path
						style="fill:#161a38;fill-opacity:1;stroke-width:10"
						id="path11965"
						d="m 3.1713666,61.355651 c 0.1338058,0.207348 0.2676116,0.414697 0.4014175,0.622045 0,0 12.8043319,-7.282888 12.8043319,-7.282888 v 0 c -0.07731,-0.219716 -0.154615,-0.439432 -0.231923,-0.659148 0,0 -12.9738264,7.319991 -12.9738264,7.319991 z" />
					<path
						style="fill:#161a38;fill-opacity:1;stroke-width:10"
						id="path11967"
						d="m 94.662533,66.239185 c -0.181857,-0.417673 -0.263719,-0.865165 -0.352293,-1.308754 0,0 -13.081941,6.987242 -13.081941,6.987242 v 0 c 0.09641,0.501558 0.208538,0.998981 0.304325,1.500598 0,0 13.129909,-7.179086 13.129909,-7.179086 z" />
					<path
						style="fill:#161a38;fill-opacity:1;stroke-width:10"
						id="path11969"
						d="m 83.749703,17.751011 c -0.116654,0.07368 -0.233308,0.147362 -0.349961,0.221043 0,0 13.841726,-5.415417 13.841726,-5.415417 v 0 c 0.143939,-0.09994 0.287877,-0.199876 0.431815,-0.299814 0,0 -13.92358,5.494188 -13.92358,5.494188 z" />
					<path
						style="fill:#161a38;fill-opacity:1;stroke-width:10"
						id="path11971"
						d="m 56.849338,44.44331 c -0.219492,0.446896 -0.397266,0.912383 -0.593986,1.369588 0,0 13.465154,-6.152793 13.465154,-6.152793 v 0 c 0.234603,-0.49124 0.480565,-0.976146 0.719349,-1.46533 0,0 -13.590517,6.248535 -13.590517,6.248535 z" />
					<path
						style="fill:#161a38;stroke:#161a38;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
						d="M 5.9838092,35.935811 7.819042,10.829141"
						id="path12016" />
					<path
						style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
						d="m 79.776627,122.30686 14.171364,17.27886"
						id="path24071" />
					<path
						style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
						d="m 9.3210931,115.45157 3.6276219,24.47596"
						id="path24073" />
				</g>
			</svg>
		}
	</div>
}

@code {
	[Parameter] public ObstacleModel? Model { get; set; }

	string paddleCss =>
		$"left: {Model?.left/15}rem; width: {(Model?.right - Model?.left)/15}rem; top: {Model?.top/15}rem; height: {(Model?.bottom - Model?.top)/15}rem";
}