@if (Model != null) {
	<div class="paddle" style="@paddleCss" ></div>
}

@code {
	[Parameter] public PaddleModel? Model { get; set; }

	string paddleCss =>
		$"left: {Model?.left}px; width: {Model?.right - Model?.left}px; top: {Model?.top}px; height: {Model?.bottom - Model?.top}px";
}