@if (Model != null) {
	<div class="paddle" style="@paddleCss" ></div>
}

@code {
	string leftCss => $"left: {Model?.left/15}rem;";
	string topCss => $"top: {Model?.top/15}rem;";
	string widthCss => $"width: {(Model?.right - Model?.left)/15}rem;";
	string heightCss => $"height: {(Model?.bottom - Model?.top)/15}rem;";
	string colorCss =>
		$"background-color: hsla({AudioData?.MaxFreq}, 100%, 50%)";
		//$"background-color: rgb({255-AudioData?.BassAmplitude},{255-AudioData?.MiddleAmplitude},{255-AudioData?.TrebbleAmplitude})";
	string paddleCss => $"{leftCss} {topCss} {widthCss} {heightCss} {colorCss}";

	[Parameter] public PaddleModel? Model { get; set; }
	[Parameter] public AudioDataModel? AudioData { get; set; }
}
