@if (Model != null) {
	<div class="paddle" style="@paddleCss" ></div>
}

@code {
	[Parameter] public PaddleModel? Model { get; set; }

	string paddleCss =>
		$"left: {Model?.left/15}rem; width: {(Model?.right - Model?.left)/15}rem; top: {Model?.top/15}rem; height: {(Model?.bottom - Model?.top)/15}rem";
}